:root{
  --primary-color: hsl(128, 67%, 38%);
  --border-radius: .4em;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --skills-bar-length: 0%;
  --font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";

}

*{
  box-sizing: border-box;
  font-family: var(--font-family);
}

.main{
  display: grid;
  padding: 10px;
  gap: 0.5em;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

a{
  color: var(--primary-color);
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

body{
  margin: 0; 
  background-color: #000;
  color: var(--text-color);
  transition: var(--transition);
  font-family: var(--font-family);
}

.home{
  display: flex;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 80px;
  justify-content: space-between;
}

.search{
  display: flex;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 92px;
  justify-content: space-between;
}

.logo{  
  display: flex;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 1.5em;
  background-color: rgba(0,0,0,.5);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border: 1px solid black;
}


body.dark{
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: #121212;
}




@media screen and (min-width:720px){
  .main{
      grid-template-columns: min-content 1fr;
  }
}

.column{
  display: grid;
  gap: 0.5em;
}

@media screen and (min-width:720px){
  .column--right{
      grid-template-columns: repeat(1, 1fr);
  }
}

.card{
  height: 100%;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  
}

 .card--experience{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__right{
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 100%;
  background: linear-gradient(#414040, #000);
  border-radius: var(--border-radius);
}

.card__header{
  width: 420px;
}


.listado{
  display: flex;
  height: 300px;
}

.imagenCancion{
  border-radius: 15px;
  height: 150px;
}

.cancion1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 172px;
  background-color: rgba(0,0,0,.5);
  margin: 25px;
  padding: 10px;
}

.cancion2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 172px;
  background-color: rgba(0,0,0,.5);
  margin: 25px;
  padding: 10px;
}

.cancion3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 172px;
  background-color: rgba(0,0,0,.5);
  margin: 25px;
  padding: 10px;
}

.cancion4{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 172px;
  background-color: rgba(0,0,0,.5);
  margin: 25px;
  padding: 10px;
}

.cancion5{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  width: 172px;
  background-color: rgba(0,0,0,.5);
  margin: 25px;
  padding: 10px;
}

h2{
  cursor: pointer;
  color: white;
  margin-left: 30px;
}

h3{
  font-family: var(--font-family);
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;

}

@media screen and (min-width: 750px) {
  .card--proyect{
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-column: 1 / -1;
  }
}

i{
  font-family: var(--font-family);
}

p{
  margin: 0;
}


.libraryModule{
  display: flex;
  flex-direction: column;
  width: 404px;
  height: 10;
  margin-bottom: 1em;
  padding: 16px 20px;
  margin: 8px 8px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  background-color: var(--bg-color);
}


.library{
  width: 388px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 8px 16px;
}

.library__icon{
  padding: 4px 8px;
}


.library_button{
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}


.first__box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: left;
}

.createList{
  justify-content: left;
}

.list__button{
  background: white;
  font-weight: bold;
  font-size: 14px;
  width: 99px;
  height: 32px;
  border-radius: 50px;
  color: #000;
  border: 0;
  cursor: pointer;
  line-height: normal;
}

.podcast__button{
  background: white;
  font-weight: bold;
  font-size: 14px;
  width: 149px;
  height: 32px;
  border-radius: 50px;
  color: #000;
  border: 0;
  cursor: pointer;
  line-height: normal;
}


.register__button{
  
}



@media screen and (min-width: 760px){
  .proyect{
      margin-left: 2em;
  }
}

@media screen and (min-width: 760px){
  .proyect__tags{
      width: 325px;
      font-size: 0.8rem;
      margin-bottom:3em ;
  }
}

@media screen and (min-width: 760px){
  .buttons{
      position: absolute;
      bottom: 1em;
  }
}

@keyframes skills-bar-fill {
  to{
      transform: translateX(var(--skills-bar-length));
  }
}